* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f2;
}

#popup {
  position: fixed;
  width: 40%;
  height: 50vh;
  background-color: rgb(218, 213, 213);
  padding: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Inter", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  text-align: center;
}

.sidebar {
  position: absolute;
  height: 100vh;
  flex-direction: column;
  width: 20%;
  background-color: #f7f7f2;
  border: 1px solid #e4e6c3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

#options {
  font-family: "JetBrains Mono";
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

#check {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.check {
  margin-right: 15px;
}

input.check {
  width: 17px;
  height: 17px;
}

hr {
  width: 70%;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #e4e6c3;
}

#dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 0 20px;
  border-right: 20px solid transparent;
  color: #211d1a;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

select:focus {
  outline: none;
  background-color: #f05d23;
  color: #fff;
}

select option {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  color: #261c15;
  background-color: #e4e6c3;
}

.align {
  margin-bottom: 20px;
}

.align:first-child {
  margin-top: 20px;
}

.centerAlign {
  display: flex;
  align-items: center;
}

.marginBottom {
  margin-bottom: 40px;
}

#result-title {
  font-size: 18px;
}

#wpm {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  margin-top: 50px;
}

.container {
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: normal;
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
}

#color {
  color: #f05d23;
}

#box {
  width: 80%;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 40px 70px 40px 70px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 75px;
  border-radius: 15px;
  color: #261c15;
  /* text-align: justify; */
}

#box::-webkit-scrollbar {
  width: 0;
}

#box::-moz-scrollbar {
  width: 0;
}

#content {
  display: none;
}

#btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 54px;
  height: 54px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px 40px; */
  border-radius: 50px;
  border: none;
  background-color: #f05d23;
  color: #fff;
  /* cursor: pointer; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

#banner {
  position: fixed;
  font-family: "Inter";
  font-size: 20px;
  font-weight: bold;
  bottom: 30px;
  background-color: #e4e6c3;
  padding: 20px 60px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 7px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
  /* transform: translate(0, 0); */
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
}

#banner.fade {
  opacity: 0;
}

#banner.shake {
  transform: translateX(-51.5%);
}

#enter {
  font-family: "JetBrains Mono";
  font-weight: bold;
  color: #f05d23;
}

#enter-icon {
  width: 36px;
  margin-left: -10px;
}
