* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f2;
  z-index: 1;
}

#popup {
  position: fixed;
  width: 40%;
  height: 50vh;
  background-color: rgb(218, 213, 213);
  padding: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Inter", sans-serif;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: center;
}

.sidebar {
  position: absolute;
  height: 100vh;
  flex-direction: column;
  width: 20%;
  background-color: #f7f7f2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  z-index: 3;
  border-right: 1px solid #e4e6c3;
  transition: all 0.4s linear 0.1s;
}

.sidebarToggle {
  color: #fff !important;
  border-right: 1px solid rgb(36, 36, 36) !important;
}

#options {
  font-family: "JetBrains Mono";
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 25px;
  color: hsla(26, 12%, 12%, 0.651);
  transition: all 0.4s linear 0.1s;
}

.optionsToggle {
  color: rgba(255, 255, 255, 0.651) !important;
}

#check {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.check {
  margin-right: 15px;
}

input.check {
  width: 17px;
  height: 17px;
}

hr {
  width: 70%;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #e4e6c3;
  transition: all 0.4s linear 0.1s;
}

.hrToggle {
  border-bottom: 1px solid rgb(36, 36, 36) !important;
}

#dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#difficulty {
  transition: all 0.4s linear 0.2s;
}

#time {
  transition: all 0.4s linear 0.2s;
}

.selectToggle {
  color: #fff;
  background-color: #150050;
}

select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 0 20px;
  border-right: 20px solid transparent;
  color: #211d1a;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

select:focus {
  outline: none;
  background-color: #f05d23;
  color: #fff;
  transition: none !important;
}

select option {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  color: #261c15;
  background-color: #e4e6c3;
}

.align {
  margin-bottom: 20px;
}

.align:first-child {
  margin-top: 20px;
}

.centerAlign {
  display: flex;
  align-items: center;
}

.marginBottom {
  margin-bottom: 30px;
}

#takeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: -30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

#inputStyle {
  background-color: #f7f7f2;
  padding: 30px 20px;
  border-radius: 5px;
  border: 3px dashed rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s linear 0.2s;
}

.inputStyleToggle {
  background-color: #000000 !important;
  color: rgba(255, 255, 255, 0.5) !important;
  border: 3px dashed rgba(255, 255, 255, 0.5) !important;
}

#inputStyle:hover {
  background-color: #e4e6c3;
  color: rgba(0, 0, 0, 0.6);
  border: 3px dashed rgba(0, 0, 0, 0.1);
}

#submit {
  height: 40px;
  border: none;
  background-color: blue;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

#submit:hover {
  background-color: rgb(0, 0, 218);
}

#submit:focus {
  outline: none;
}

#submit:active {
  background-color: rgb(0, 0, 238);
}

#result-title {
  font-size: 18px;
}

#wpm {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  margin-top: 50px;
}

.container {
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear 0.1s;
}

#loading {
  background-color: #f7f7f2;
  position: fixed;
  width: 80%;
  height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateX(-130%);
  transition: all 0.4s linear 0.1s;
}

.loadingToggle {
  background-color: #000 !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6.5px solid blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: blue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#title {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: normal;
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
  transition: all 0.4s linear 0.1s;
}

.titleToggle {
  color: #fff !important;
}

#color {
  color: #f05d23;
}

#box {
  width: 80%;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 40px 70px 40px 70px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 75px;
  border-radius: 15px;
  color: #261c15;
  display: flex;
  transition: all 0.4s linear 0.1s;
  /* text-align: justify; */
}

.boxToggle {
  background-color: #150050 !important;
  color: #fff !important;
}

#box::-webkit-scrollbar {
  width: 0;
}

#box::-moz-scrollbar {
  width: 0;
}

#tempCursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#tempCursor::after {
  opacity: 1;
  content: "";
  transition: opacity 0.5s ease;
}

#btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 54px;
  height: 54px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px 40px; */
  border-radius: 50px;
  border: none;
  background-color: #f05d23;
  color: #fff;
  /* cursor: pointer; */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

#banner {
  position: fixed;
  font-family: "Inter";
  font-size: 20px;
  font-weight: bold;
  bottom: 30px;
  background-color: #e4e6c3;
  padding: 20px 60px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 7px;
  border-radius: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  opacity: 1;
  /* transform: translate(0, 0); */
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
}

#banner.fade {
  opacity: 0;
}

#banner.shake {
  transform: translateX(-51.5%);
}

#enter {
  font-family: "JetBrains Mono";
  font-weight: bold;
  color: #f05d23;
}

#enter-icon {
  width: 36px;
  margin-left: -10px;
}

#theme {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#dark {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 53px;
  height: 53px;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: #000;
  cursor: pointer;
  transform: scale(0);
  z-index: -1000;
  transition: all 0.6s ease-in-out;
}
